/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@use postcss-preset-env;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

:root {
    --ad-Color-prim: #111;
    --ad-Color-sec: #00E676;
    --ad-Color-del: #E53935;
}

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x: hidden;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.info-container{
	background: #BBB;
	font-family: century gothic;
	display: flex;
	align-items: flex-end;
	height: 600px;
	width: 100%;
}



.curve{
	transform: translateY(-180%);
	position: absolute;
	height: 200px;
	width: 100%;
}

.curve::before{
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 65%;
	height: 100%;
	background: #BBB;
	transform: translate(82%, -65%);
}

.curve::after{
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 65%;
	height: 100%;
	background: #FFF;
	transform: translate(-9%, -80%);
	z-index: -1;
}


.img-container{
	border-radius: 10px;
	margin: 0 10px 40px 40px;
	height: 400px;
	width: 55vw;
	overflow: hidden;
}

.about-us-container{
	display: flex;
   flex-direction: column;
   margin:0 40px 40px 0;
   height: 400px;
}

.about-us-container *{
	align-self: flex-start;
}

.about-us-container h1{
	font: bold 50px aclonica, sans-serif;
}

.about-us-container p, h2{
	margin-top: 10px;
	width: 200px;
}

.about-us-container h2{
	margin-top: 20px;
	font-weight: bold;
	color: #911;
}

ul{
	animation: slider 20s infinite;
}

@keyframes slider{
	0%{margin-left: 0;}
	15%{margin-left: 0;}
	20%{margin-left: -100%;}
	40%{margin-left: -100%;}
	45%{margin-left: -200%;}
	65%{margin-left: -200%;}
	70%{margin-left: -300%;}
	90%{margin-left: -300%;}
	100%{margin-left: 0;}
}

.wine-bottle{
	right: -200px;
	position: absolute;
	height: 500px;
}