@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.welcome-container{
	display: flex;
	justify-content: center;
	background: red;
	align-items: top;
	width: 100%;
	height: 600px;
	font:  bold 60px 'Cedarville Cursive', cursive;
	background: url(../media/img/wine-cellar.png) no-repeat center center fixed;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.welcome-container h1, .welcome-container h2{
	display: inline-block;
	height: 50px;
	margin-top: 118px;
}

.welcome-container h1{
	color: #700;
	transition: .5s ease;
	animation: moveTextLeft 1s forwards;
	animation-delay: .5s;
}

.welcome-container h2{
	color: #FFF;
	transition: .5s ease;
	animation: moveTextRight 1s forwards;
	animation-delay: .5s;
}

.welcome-container button{
	position: absolute;
	align-self: center;
	height: 30px;
	width: 100px;
	background: transparent;
	color: #FFF;
	font: 15px cursive;
	border: 1px groove #FFF;
	transition: ease-in-out .5s;
}

.welcome-text p{
	position: absolute;
	margin-top: 240px;
	height: 20px;
	color: #FFF;
	font: bold 25px cursive;
}

.welcome-container button:hover{
	background: rgba(150,0,0,.5);
	transition: ease-in-out .5s;
}

@keyframes moveTextLeft{
	from{transform: translateX(0);}
	to{transform: translateX(-50px);}
}

@keyframes moveTextRight{
	from{transform: translateX(0);}
	to{transform: translateX(50px);}
}

.welcome-text{
	display: flex;
	width: 100%;
	justify-content: center;
}

.welcome-text img:not(.wood-sign-container img){
	animation: bringWineLogoToFront 1.5s ease .1s forwards;
	margin-top: 80px;
	position: absolute;
	justify-self: center;
	height: 150px;
	width: 70px;
}

@keyframes bringWineLogoToFront{
	0% {transform: scale(0)}
	50% {transform: scale(0)}
	100% {transform: scale(1)}
/*
	0%{transform: scale(0)}
	50%{transform: scale(.5)}
	100%{transform: scale(1)}*/
}

.wood-sign-container{
	position: absolute;
	display: flex;
	overflow: hidden;
	height: 100%;
	width: 700px;
	justify-content: center;
}

.wood-sign-container img{
	position: absolute;
	height: 300px;
	width: 100%;
	transform: translate(-20px, -68px);
}

button a{
	text-decoration: none;
	color: #FFF;
}